{% extends "master.html" %}
{% load static %}
{% block title %}Bandeja de Soporte Técnico{% endblock %}

{% block content %}
<div class="container-fluid mt-3 px-4">
    <div class="row">
        <div class="col"><h2>Bandeja de Entrada</h2></div>
        <div class="col d-flex flex-row-reverse p-3 ">
    <button class="btn btn-danger mx-5" type="button" onclick="validarSeleccion()">
            Eliminar
            </button>
</div>

    {% include 'soporte/modalEliminarSolicitud.html' %}
    </div>
<form id="eliminar_solicitud" method="post" action="{% url 'bandeja_entrada_soporte' %}">
            {% csrf_token %}
            <input type="hidden" id="action" name="action" value="">
    <table class="table table-hover mt-4">
        <thead class="table-dark">
            <tr>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Seleccionar Todos
                    <input class="form-check-input checkbox" type="checkbox" id="selectAll" onclick="toggleCheckboxes(this)">
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for s in page_obj %}
            <tr>
                <td>{{ s.usuario.username }}</td>
                <td>{{ s.get_tipo_display }}</td>
                <td>{{ s.descripcion|truncatechars:50 }}</td>
                <td>
                    {% if s.estado == "pendiente" %}
                        <span class="badge bg-warning text-dark">{{ s.get_estado_display }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ s.get_estado_display }}</span>
                    {% endif %}
                </td>
                <td>{{ s.fecha_solicitud|date:"d/m/Y H:i" }}</td>

                <td> 
                    <div class="form-check d-flex justify-content-center align-items-centerdiv">
                        <input class="form-check-input checkbox" type="checkbox" id="checkbox" name="ids" value="{{s.id}}" >
                    </div>            
                </td>
                
                {% if s in solicitudes_por_leer %}
                <td>
                    <div style="display: flex; flex-direction: row; align-items: center; position: relative;">
                        <a href="{% url 'detalle_solicitud' s.id %}" class="btn btn-sm btn-info">Ver Detalles</a>
                        <div class="d-inline-block rounded-circle bg-danger" style="width: 20px; height: 20px; position: absolute; left: 80px; top:-3px; "></div>
                    </div>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'detalle_solicitud' s.id %}" class="btn btn-sm btn-info">Ver Detalles</a>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr><td colspan="6" class="text-center">No hay solicitudes.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginacion.html' %}

</form>

<!-- Mensaje tipo Toast -->
<div class="toast align-items-center text-bg-warning border-0" role="alert" aria-live="polite" aria-atomic="true" id="toastSeleccionar">
    <div class="d-flex">
        <div class="toast-body  bg-warning">
            Debes seleccionar al menos 1 solicitud para eliminar.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<script>
    //Seleccionar todos los checkbox
function toggleCheckboxes(masterCheckbox) {
const checkboxes = document.querySelectorAll('.checkbox');
checkboxes.forEach((checkbox) => {
    checkbox.checked = masterCheckbox.checked;
});
}

function validarSeleccion() {
    const checkboxes = document.querySelectorAll('input[name="ids"]:checked');

    if (checkboxes.length === 0) {
        // Muestra el toast si no hay selección
        mostrarToast();
        return;
    }

    // Si hay elementos seleccionados → abre el modal
    $('#ModalEliminar').modal('show');
}
</script>
{% endblock %}