{% extends "master.html" %}

    {% block title%}
    Lista de Usuarios
    {%endblock%}

    {%block content%}
    <div class="container mt-3 mx-3">
        <div class="row container">
        <div class="col"><h1>Usuarios</h1></div>
        <div class="col d-flex flex-row-reverse p-3 ">
            <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#ModalRegistrar" type="button">Registrar</button>
            
            <button class="btn btn-danger mx-5" data-bs-toggle="modal" data-bs-target="#ModalEliminar" type="button">Eliminar</button>

        </div>

        {% include 'modalRegistrarUsuario.html' %}
        {% include 'modalEliminarUsuario.html' %}
            
        </div>
        <form id="eliminar_usuario" method="post" action="{% url 'usuarios' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th>Ultima Conexion</th>
                    <th>Fecha de Creacion</th>
                    <th>Seleccionar Todos
                        <input class="form-check-input checkbox" type="checkbox" id="selectAll" onclick="toggleCheckboxes(this)">
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for x in tableUsuario %}
            <tr>
                <td>{{x.username}}</td>
                <td>{{x.email}}</td>
                <td>{{x.is_active}}</td>
                <td>{{x.last_login}}</td>
                <td>{{x.date_joined}}</td>
                <td> 
                <div class="form-check d-flex justify-content-center align-items-centerdiv">
                    <input class="form-check-input checkbox" type="checkbox" id="checkbox" name="ids" value="{{x.id}}" >
                </div>
            
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>

    

<script>
    document.getElementById("registroForm").addEventListener("submit", function(event) {
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const errorMessage = document.getElementById("error-message");

        if (password !== confirmPassword) {
            errorMessage.style.display = "block"; // Muestra el mensaje de error
            event.preventDefault(); // Detiene el envío del formulario
        } else {
            errorMessage.style.display = "none"; // Oculta el mensaje si todo está correcto
            alert("¡Registro exitoso!");
        }
    });

    function toggleCheckboxes(masterCheckbox) {
    const checkboxes = document.querySelectorAll('.checkbox');
    checkboxes.forEach((checkbox) => {
        checkbox.checked = masterCheckbox.checked;
    });
}




</script>
    {%endblock%}
