{% extends 'master.html' %}

{% block title%}
    Editar usuarios
{%endblock%}

{% block content %}
<h1 class="display-1">Editar Usuario</h1>
<h3 class="display-6">{{user.username}}</h3>

<form method="post">
{% csrf_token %}
<div class="container p-3 mx-0 usuario-contraseña">

    <div class="row border-bottom py-3">
        <div class="col-2">
            <p class="form-label"><strong>Usuario:</strong></p>
        </div>
        <div class="col-5">
            <input type="text" id="username" name="username" value="{{user.username}}" class="form-control w-75 " >
        </div>
        
    </div>

    <div class="row border-bottom py-3">
        <div class="col-2">
            <p class="form-label"><strong>Contraseña:</strong></p>
        </div>
        <div class="col-5">
            <input type="password" id="password name="password" value="{{user.password}}" class="form-control w-75 " >
        </div>
        
    </div>

</div>

<div class="container p-3 mx-0 informacion-personal">
    <div class="bg-info p-1">
        <p><strong>Información Personal</strong></p>
    </div>

    <div class="row border-bottom py-3">
        <div class="col-2">
            <p class="form-label"><strong>Nombre:</strong></p>
        </div>
        <div class="col-5">
            <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" class="form-control w-75 " >
        </div>
        
    </div>

    <div class="row border-bottom py-3">
        <div class="col-2">
            <p class="form-label"><strong>Apellidos:</strong></p>
        </div>
        <div class="col-5">
            <input type="text" id="last_name" name="last_name" value="{{user.last_name}}" class="form-control w-75 " >
        </div>
        
    </div>

    <div class="row border-bottom py-3">
        <div class="col-2">
            <p class="form-label"><strong>Correo:</strong></p>
        </div>
        <div class="col-5">
            <input type="email" id="email" name="email" value="{{user.email}}" class="form-control w-75 " >
        </div>
        
    </div>

</div>

<div class="d-flex p-5">
    <div class="px-5">
    <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

    <div>
    <a type="button" class="btn btn-danger" href="{% url 'usuarios' %}">Cancelar</a>
    </div>
</form>
</div>



{%endblock%}