<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <div class="container d-flex justify-content-center align-items-centerdiv mt-4 p-5 bg-primary text-white rounded"">
        <h1 class="display-4">Mantenimiento UCI</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center bg-light">
    <form method="post"  action="{% url 'login' %}" class="was-validated p-5 my-5 border">
        
        <div class="mb-3 mt-3">
        <label for="uname" class="form-label">Usuario:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        <div class="valid-feedback">Valido.</div>
        <div class="invalid-feedback">Por favor llena este campo.</div>
        </div>
        <div class="mb-3">
        <label for="pwd" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        <div class="valid-feedback">Valido.</div>
        <div class="invalid-feedback">Por favor llena este campo.</div>
        </div>
        <div class="form-check mb-3">
            
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Acceder</button>
    </form> 
    </div>
    
</body>
</html>