{% extends "master.html" %}

{%block title%}
    MainPage
{%endblock%}

{%block content%}
<div class="container p-5 my-5  bg-dark text-white rounded">
<h1>Mantenimiento UCI</h1>
<p> Sistema de gestion de mantenimiento de la Universidad de Ciencias Informaticas</p>
</div>
<div class="row">
    <h2 class="d-flex justify-content-center">Nuestros servicios</h2>
</div>
<div class="row d-flex justify-content-center mt-5">
    <div class="col-3  d-flex justify-content-center">INCIDENCIAS</div>
    <div class="col-4  d-flex justify-content-center">MATERIALES</div>
    <div class="col-3  d-flex justify-content-center">REPORTES</div>
</div>
{%endblock%}