{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title%}{%endblock%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <style>
  .notification.read {
    color: #6c757d;
    font-style: italic;
  }
  .toast {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        max-width: 300px;
    }
    .toast.position-relative {
    display: none;
    position: absolute;
    z-index: 9999;
    min-width: 200px;
    transform: translateY(-40px);
}

  
</style>
</head>
<body class="d-flex flex-column min-vh-100">

    {%include 'navbar.html' %}

    <div class="flex-grow-1">
    {%block content%}
    
    {%endblock%}
    </div>
    {%include 'footer.html' %}

</body>

<script>
    const NOTIFICATIONS_URL = "{% url 'get_notifications' %}";
    const csrftoken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/notificaciones.js'  %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function mostrarToast() {
        const toast = document.getElementById('toastSeleccionar');
        const bsToast = new bootstrap.Toast(toast);
        bsToast.show();
    }
</script>

</html>