<!-- The Modal -->
<div class="modal" id="ModalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Eliminar Incidencia</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

            <div class="modal-body">

                <h4>¿Estas seguro que desea eliminar las incidencias?</h4>

                {% csrf_token %}
            
            <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                
            
                    <button form="eliminar_usuario" type="submit" class="btn btn-danger" onclick="document.getElementById('action').value = 'delete' ">Eliminar</button>

                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div> 
        </div>
    </div>
</div>