<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- The Modal -->
<div class="modal" id="ModalRegistrar">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Registrar Usuario</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

            <div id="error-container" class="alert alert-danger" style="display: none;" role="alert"></div>

            <form id="registroForm" method="post" action="{% url 'usuarios' %}" class="needs-validation" novalidate>
                
                <div class="username mb-3 mt-3">
                <label for="uname" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                <div id="errorUsuario" class="invalid-feedback">Por favor llena este campo.</div>
                <div id="error-usuario" class="text-danger mt-1" style="display:none;"></div>
                </div>
                <div class="name mb-3 mt-3">
                    <label for="name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
                    <div id="errorNombre" class="invalid-feedback">Por favor llena este campo.</div>
                    </div>
                <div class="lastname mb-3 mt-3">
                        <label for="lastname" class="form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" required>
                        <div id="errorApellido" class="invalid-feedback">Por favor llena este campo.</div>
                </div>
                <div class="email mb-3 mt-3">
                    <label for="email" class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                    <div class="invalid-feedback">No es un correo valido.</div>
                    <div id="error-email" class="text-danger mt-1" style="display:none;"></div>
                    </div>
                <div class="password mb-3">
                <label for="pwd" class="form-label">Contraseña:</label>
                <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="bi bi-eye"></i> <!-- Ícono de ojo cerrado -->
                </button>
                </div>
                <div class="invalid-feedback">Por favor llena este campo.</div>
                
                </div>

                <div class="Confpassword mb-3">
                    <label for="pwd" class="form-label">Confirmar Contraseña:</label>
                    <div class="input-group">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password" name="confirmPassword" required>
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword2">
                        <i class="bi bi-eye"></i> <!-- Ícono de ojo cerrado -->
                    </button>
                    </div>
                    <div class="invalid-feedback">Por favor llena este campo.</div>
                    <div id="error-message" class="text-danger mt-1" style="display: none;">⚠️ Las contraseñas no coinciden.</div>
                    </div>
                {% csrf_token %}
                
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    
                    <button type="submit" class="btn btn-primary">Registrar</button>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
                
            </form> 
        </div>

        

    </div>
    </div>
</div>

