<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- The Modal -->
<div class="modal" id="ModalRegistrar">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Registrar Material</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form id="registroForm" method="post" action="{% url 'materiales' %}" class="needs-validation" novalidate>
                <div class="name mb-3 mt-3">
                <label for="username" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="username" placeholder="Introducir material" name="username" required>
                <div id="errorUsuario" class="invalid-feedback">Por favor llena este campo.</div>
                </div>
                <div class="name mb-3 mt-3">
                    <label for="tipo_material" class="form-label">Tipo de Material</label>
                                <select class="form-select" id="tipo_material" name="tipo_material" required>
                                    <option value="" disabled selected>Seleccione un tipo</option>
                                    <option value="plomeria">Plomería</option>
                                    <option value="electricidad">Electricidad</option>
                                    <option value="infraestructura">Infraestructura</option>
                                    <option value="limpieza">Saneamiento</option>
                                    <option value="seguridad">Seguridad</option>
                                </select>
                <div class="invalid-feedback">Por favor llena este campo.</div>
                </div>

                <div class="cantidad mb-3 mt-3">
                        <label for="cantidad" class="form-label">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad" min="1" step="1" placeholder="Introducir cantidad de material" name="cantidad" required>
                        <div id="errorCantidad" class="invalid-feedback">Por favor llena este campo.</div>
                </div>
                
                {% csrf_token %}
                
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-between">
                    
                    <button type="submit" class="btn btn-primary">Registrar</button>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
                
            </form> 
        </div>

        

    </div>
    </div>
</div>

