{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static '../static/logo.png' %}" alt="Avatar Logo" style="width:115px;" > 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Usuarios
                    </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/usuarios">Lista de Usuarios</a></li>
                            <li><a class="dropdown-item" href="#">Registrar Usuario</a></li>
                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                        </ul>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Incidencias
                    </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/usuarios">Lista de Incidencias</a></li>
                            <li><a class="dropdown-item" href="#">Reportar Incidencia</a></li>
                            <li><a class="dropdown-item" href="#">Historial</a></li>
                        </ul>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav> 