{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static '../static/logo.png' %}" alt="Avatar Logo" style="width:115px;" > 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Inicio</a>
                </li>

                {% if perms.auth.view_user %}
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                {%endif%}
                
                <li class="nav-item dropdown">
                    <button type="button" class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Incidencias
                    </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/incidencias">Lista de Incidencias</a></li>
                            <li><a class="dropdown-item" href="/reportar_incidencia">Reportar Incidencia</a></li>
                            <li><a class="dropdown-item" href="#">Historial</a></li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/materiales">Materiales</a>
                </li>
            </ul>
            <form class="d-flex" method="get" >
                <input type="text" name="q" class="form-control" placeholder="Buscar..." value="{{ request.GET.q }}">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav> 